@model IEnumerable<TypicalTechTools.Models.Comment>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "CommentList";
    int productCode = int.Parse(@Context.Request.RouteValues["id"].ToString() ?? "");

    // retrieve the Authentication status from the session
    string authStatus = Context.Session.GetString("Authenticated") ?? "false";

    string sessionId = Context.Session.Id;

    // use a flag to indicate whether or not the user is logged in
    bool loggedIn = !String.IsNullOrEmpty(authStatus) && authStatus.Equals("True");
}
<h1>Comments for Product code: @productCode</h1>
<p>
    @Html.ActionLink("Add a new Comment", "AddComment", "Comment", new { productCode = @productCode })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.Id)
                @Html.HiddenFor(modelItem => item.Code)
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @if (item.CreatedDate.HasValue)
                    {
                        @item.CreatedDate.Value.ToString("dd MMMM yyyy hh:mm tt")
                    }
                </td>
                <td>

                    @if ((string.IsNullOrWhiteSpace(item.SessionId) == false && item.SessionId.Equals(sessionId)))
                    {
                        @Html.ActionLink("Edit", "EditComment", new { commentId = item.Id }, new { @class = "btn btn-primary ml-1" })
                        @Html.ActionLink("Delete", "RemoveComment", new { commentId = item.Id }, new { @class = "btn btn-danger ml-1" })
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
